<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<select id="list" parameterType="String" resultType="com.ict.db.VO">
		select * from shop_t where category = #{category} order by idx desc
	</select>
	<!-- 
	<select id="count" resultType="int">
		select count(*) from board
	</select>
		
	<select id="list" resultType="com.ict.db.VO" parameterType="Map">
		select * from 
			(select rownum rn, a.* from 
				(select * from board order by groups desc, lev asc) a) 
					where rn between #{begin} and #{end}
	</select>
	-->
	<select id="detail" parameterType="String" resultType="com.ict.db.VO">
		select * from shop_t where idx=#{idx}
	</select>
	<insert id="product_write" parameterType="com.ict.db.VO">
		insert into shop_t values(shop_seq.nextval,#{category},#{p_num},#{p_name},
		#{p_company},#{p_price},#{p_saleprice},#{p_image_s},#{p_image_l},#{p_content},sysdate)
	</insert>
	<insert id="cart_write" parameterType="com.ict.db.CVO">
		insert into cart values(cart_seq.nextval,sysdate,#{m_idx},#{p_idx},1)
	</insert>
	<select id="cart_list" parameterType="String" resultType="com.ict.db.VO">
		select s.*, c.quant from shop_t s, members m, cart c where c.m_idx=m.idx and c.p_idx=s.idx and c.m_idx=#{m_idx}
	</select>
	<update id="cart_plus" parameterType="String">
		update cart set quant=quant+1 where p_idx=#{p_idx}
	</update>
	<select id="read_quant" parameterType="com.ict.db.CVO">
		select c.quant from shop_t s, members m, cart c where c.m_idx=#{m_idx} and c.p_idx=#{p_idx}
	</select>
	<update id="cart_update" parameterType="Map">
		update cart set quant=#{su} where p_idx=#{p_idx} and m_idx=#{m_idx}
	</update>
	<delete id="cart_delete" parameterType="com.ict.db.CVO">
		delete from cart where m_idx=#{m_idx} and p_idx=#{p_idx}
	</delete>
	<!-- 
	<select id="write" parameterType="com.ict.db.VO">
		insert into board values(board_seq.nextval, #{writer},#{title},#{content},#{pwd},0,
	 	group_seq.nextval, 0, 0, sysdate, #{file_name} )
	</select>
	<update id="update" parameterType="com.ict.db.VO">
		update board set writer = #{writer}, title=#{title}, content=#{content}, file_name=#{file_name} where idx=#{idx}
	</update>
	<delete id="delete" parameterType="com.ict.db.VO">
		delete from board where idx=#{idx}
	</delete>
	<update id="hitup" parameterType="String">
		update board set hit=hit+1 where idx=#{idx}
	</update>
	<select id="levup" parameterType="Map">
		update board set lev=lev+1 where groups=#{groups} and lev>=#{lev}
	</select>
	<insert id="reply_write" parameterType="com.ict.db.VO">
		insert into board values(board_seq.nextval, #{writer},#{title},#{content},#{pwd},0,
	 	#{groups}, #{step}, #{lev}, sysdate, #{file_name} )
	</insert>
	 -->
	<select id="login" parameterType="com.ict.db.MVO" resultType="com.ict.db.MVO">
		select * from members where id = #{id} and pw = #{pw}
	</select>
</mapper>
